In [4]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\natsf\anaconda3\lib\site-packages (8.1.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\users\natsf\anaconda3\lib\site-packages (from mysql-connector-python) (4.21.12)

In [5]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\natsf\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\natsf\anaconda3\lib\site-packages (from ipython-sql) (3.9.0)
Requirement already satisfied: ipython in c:\users\natsf\anaconda3\lib\site-packages (from ipython-sql) (8.12.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\natsf\anaconda3\lib\site-packages (from ipython-sql) (2.0.21)
Requirement already satisfied: sqlparse in c:\users\natsf\anaconda3\lib\site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in c:\users\natsf\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\natsf\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\natsf\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\natsf\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.1)
Requirement already satisfied: backcall in c:\users\natsf\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\users\natsf\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\natsf\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\natsf\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in c:\users\natsf\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\users\natsf\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.36)
Requirement already satisfied: pygments>=2.4.0 in c:\users\natsf\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\natsf\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in c:\users\natsf\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: colorama in c:\users\natsf\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\natsf\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\natsf\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\natsf\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\natsf\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\natsf\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

In [1]:
import mysql.connector
%reload_ext sql
connection_url = 'mysql+mysqlconnector://root:154275@localhost/project1'
#connection_url = 'mysql+mysqlconnector://python:python@python/project1'
%sql {connection_url}

In [2]:
# Functions for Question 1

def checkClerk():
    ID = int(input("What is the clerk's ID?"))
    n = %sql SELECT * FROM Clerk WHERE clerk_ID = :ID
    return ID if len(n) != 0 else False


def newBallot():
    question = input("What is the question text for your ballot: ")
    startDateTime = input("What is the starting DateTime for your ballot? ")
    endDateTime = input("What is the ending DateTime for your ballot? ")
    return question, startDateTime, endDateTime


def createBallot():
    ID = checkClerk()
    if ID == False: 
        print("Clerk does not exist")
        return
    ballotName = input("What is the ballot's name: ")
    ballot = %sql SELECT * FROM Ballot WHERE bal_ID = :ballotName
    if len(ballot) > 0:
        print("Ballot already exists")
        return
    question, startDateTime, endDateTime = newBallot()
    %sql insert into Ballot values (:ballotName, :ID, :question, :startDateTime, :endDateTime)
    print("Ballot Created")

In [3]:
# Testing Question 1

# Sample Answers 
# 1
# balN
# Do you like pizza?
# 1000-01-01 00:00:00
# 1000-04-01 00:00:00

createBallot()

%sql SELECT * FROM Ballot

What is the clerk's ID?1
 * mysql+mysqlconnector://root:***@localhost/project1
1 rows affected.
What is the ballot's name: balN
 * mysql+mysqlconnector://root:***@localhost/project1
0 rows affected.
What is the question text for your ballot: Do you like pizza?
What is the starting DateTime for your ballot? 1000-01-01 00:00:00
What is the ending DateTime for your ballot? 1000-04-01 00:00:00
 * mysql+mysqlconnector://root:***@localhost/project1
1 rows affected.
Ballot Created
 * mysql+mysqlconnector://root:***@localhost/project1
5 rows affected.

[('balA', 1, 'Question 1', datetime.datetime(1000, 1, 1, 0, 0), datetime.datetime(1000, 1, 1, 1, 0)),
 ('balB', 2, 'Question 2', datetime.datetime(1000, 2, 1, 0, 0), datetime.datetime(1000, 2, 1, 1, 0)),
 ('balC', 3, 'Question 3', datetime.datetime(1000, 2, 1, 0, 0), datetime.datetime(1000, 2, 1, 1, 0)),
 ('balD', 1, 'Question 4', datetime.datetime(1000, 1, 1, 0, 0), datetime.datetime(1000, 1, 1, 1, 0)),
 ('balN', 1, 'Do you like pizza?', datetime.datetime(1000, 1, 1, 0, 0), datetime.datetime(1000, 4, 1, 0, 0))]

In [4]:
# Functions for Question 2

def checkFolk():
    ID = int(input("What is the folk's ID?"))
    n = %sql SELECT * FROM Folk WHERE folk_ID = :ID
    if len(n) != 0:
        return ID
    else:
        print("Folk does not exist")
        return False

def checkBallot(date):
    n = %sql SELECT * FROM Ballot WHERE DATEDIFF(endDT, startDT) >= ABS(DATEDIFF(endDT, :date))
    print("AVAILABLE BALLOTS: \n",n)
    bal_ID = input("What is the ballot's ID for registration?")
    n = %sql SELECT * FROM Ballot WHERE bal_ID = :bal_ID and DATEDIFF(endDT, startDT) >= ABS(DATEDIFF(endDT, :date))
    if len(n) != 0:
        return bal_ID
    else:
        print("Ballot input invalid")
        return False
    
def checkOperation():
    center = input("What is the voting center's unique acronym?")
    n = %sql SELECT * FROM Operates WHERE voting_ac = :center
    if len(n) != 0:
        date = input("What Date do you wish to register for?")
        n = %sql SELECT * FROM Operates WHERE voting_ac = :center AND DATEDIFF(endDT, startDT) >= ABS(DATEDIFF(endDT, :date))
        if len(n) != 0:
            return center, date
        else:
            print('Date input invalid')
            return False, False
    else:
        print("Voting center invalid")
        return False, False
    
def Register():
    ID = checkFolk()
    if ID:
        center, date = checkOperation()
        if center and date:
            bal_ID = checkBallot(date)
            if bal_ID:
                %sql insert into Registered values (:ID, :bal_ID, :center, :date)
                print('Registered')
                return True
    return False

In [5]:
# Testing Question 2

# Sample Answers
# 3
# aaaa
# 1000-03-06
# balN

Register()

What is the folk's ID?3
 * mysql+mysqlconnector://root:***@localhost/project1
1 rows affected.
What is the voting center's unique acronym?aaaa
 * mysql+mysqlconnector://root:***@localhost/project1
4 rows affected.
What Date do you wish to register for?1000-03-06
 * mysql+mysqlconnector://root:***@localhost/project1
1 rows affected.
 * mysql+mysqlconnector://root:***@localhost/project1
1 rows affected.
AVAILABLE BALLOTS:
 +--------+----------+--------------------+---------------------+---------------------+
| bal_ID | clerk_ID |      question      |       startDT       |        endDT        |
+--------+----------+--------------------+---------------------+---------------------+
|  balN  |    1     | Do you like pizza? | 1000-01-01 00:00:00 | 1000-04-01 00:00:00 |
+--------+----------+--------------------+---------------------+---------------------+
What is the ballot's ID for registration?balN
 * mysql+mysqlconnector://root:***@localhost/project1
1 rows affected.
 * mysql+mysqlconnector://root:***@localhost/project1
1 rows affected.
Registered

True

In [6]:
# Functions for Question 3

def checkBallotClerk(clerk_ID):
    bal_ID = input("What is the ballot's ID for registration?")
    n = %sql SELECT * FROM Ballot WHERE bal_ID = :bal_ID and clerk_ID = :clerk_ID
    if len(n) != 0:
        return bal_ID
    else:
        print("Ballot input invalid")
        return False
    
def editBallot():
    clerk_ID = checkClerk()
    if clerk_ID:
        bal_ID = checkBallotClerk(clerk_ID)
        if bal_ID:
            n = %sql SELECT * FROM Ballot WHERE bal_ID = :bal_ID and clerk_ID = :clerk_ID
            print("Ballot: \n", n)
            start = input("What is the new start DateTime for this ballot? ")
            end = input("What is the new end DateTime for this ballot? ")
            n = %sql UPDATE Ballot SET startDT = :start, endDT = :end WHERE bal_ID = :bal_ID and clerk_ID = :clerk_ID
            n = %sql SELECT * FROM Ballot WHERE bal_ID = :bal_ID and clerk_ID = :clerk_ID
            print("Updated entry: \n", n)
            return True
    return False

In [7]:
# Test for Question 3

# Sample Answers
# 1
# balN
# 1000-01-01 00:00:00
# 1000-05-01 00:00:00

editBallot()

What is the clerk's ID?1
 * mysql+mysqlconnector://root:***@localhost/project1
1 rows affected.
What is the ballot's ID for registration?balN
 * mysql+mysqlconnector://root:***@localhost/project1
1 rows affected.
 * mysql+mysqlconnector://root:***@localhost/project1
1 rows affected.
Ballot:
 +--------+----------+--------------------+---------------------+---------------------+
| bal_ID | clerk_ID |      question      |       startDT       |        endDT        |
+--------+----------+--------------------+---------------------+---------------------+
|  balN  |    1     | Do you like pizza? | 1000-01-01 00:00:00 | 1000-04-01 00:00:00 |
+--------+----------+--------------------+---------------------+---------------------+
What is the new start DateTime for this ballot? 1000-01-01 00:00:00
What is the new end DateTime for this ballot? 1000-05-01 00:00:00
 * mysql+mysqlconnector://root:***@localhost/project1
1 rows affected.
 * mysql+mysqlconnector://root:***@localhost/project1
1 rows affected.
Updated entry:
 +--------+----------+--------------------+---------------------+---------------------+
| bal_ID | clerk_ID |      question      |       startDT       |        endDT        |
+--------+----------+--------------------+---------------------+---------------------+
|  balN  |    1     | Do you like pizza? | 1000-01-01 00:00:00 | 1000-05-01 00:00:00 |
+--------+----------+--------------------+---------------------+---------------------+

True

In [26]:
# Functions for Question 4

def checkMonitor(voting_ac, date):
    n = %sql SELECT * FROM Monitor JOIN Works_At on mon_ID = folk_ID WHERE voting_ac = :voting_ac AND DATEDIFF(endDT, startDT) >= ABS(DATEDIFF(endDT, :date))
    if len(n) > 0:
        print("Available Monitors: \n", n)
        ID = int(input("What is your monitor's monitor ID?"))
        time = input("What time do you wish to vote at?")
        dt = date + " " + time
        n = %sql SELECT * FROM Monitor JOIN Works_At on mon_ID = folk_ID WHERE Monitor.mon_ID = :ID AND voting_ac = :voting_ac AND TIMEDIFF(endDT, startDT) >= ABS(TIMEDIFF(endDT, :dt))
        return (ID, time) if len(n) != 0 else (False, False)
    else:
        print("No Available Monitors")
        return False, False

def castVote():
    folk_ID = checkFolk()
    if folk_ID:
        n = %sql SELECT * FROM Registered WHERE folk_ID = :folk_ID
        print("What vote are you trying to cast? \n", n)
        bal_ID, voting_ac, reg_date = input('Format: \nbal_ID voting_ac reg_date\n').split()
        n = %sql SELECT * FROM Cast WHERE folk_ID = :folk_ID AND bal_ID = :bal_ID
        if len(n) > 0:
            print('You have already cast this Ballot')
            return False
        n = %sql SELECT * FROM Registered WHERE folk_ID = :folk_ID AND bal_ID = :bal_ID AND voting_ac = :voting_ac AND reg_date = :reg_date
        if len(n) > 0:
            mon_ID, time = checkMonitor(voting_ac, reg_date)
            if mon_ID:
                n = %sql SELECT * FROM Answer_Choice WHERE bal_ID = :bal_ID
                print("Answer Choices:\n", n)
                answer = input('What is you Answer?')
                n = %sql SELECT * FROM Answer_Choice WHERE bal_ID = :bal_ID AND answer = :answer
                if len(n) > 0:
                    print('Vote Cast')
                    %sql INSERT INTO Cast VALUES (:folk_ID, :bal_ID, :voting_ac, :reg_date, :time, :mon_ID, :answer);
                    n = %sql SELECT * FROM Cast
                    %sql DELETE FROM Registered WHERE folk_ID = :folk_ID AND bal_ID = :bal_ID
                    print(n)
                    return True
    return False

In [29]:
# Test for Question 4

# Sample Answers
# 2
# balB cccc 1000-02-02
# 4
# 00:30:00
# YES

import mysql.connector

try:
    mydb = mysql.connector.connect(
      host="localhost",
      user="root",
      password="154275",
      database="project1"
    )
    
    mydb.autocommit = False
    cr = mydb.cursor()
    castVote()
    # Commit your changes
    mydb.commit()

except mysql.connector.Error as error:
    print("Failed to update record to database rollback: {}".format(error))
    # reverting changes because of exception
    mydb.rollback()
finally:
    # closing database connection.
    if mydb.is_connected():
        cr.close()
        mydb.close()
        print("connection is closed")

What is the folk's ID?2
 * mysql+mysqlconnector://root:***@localhost/project1
1 rows affected.
 * mysql+mysqlconnector://root:***@localhost/project1
2 rows affected.
What vote are you trying to cast?
 +---------+--------+-----------+------------+
| folk_ID | bal_ID | voting_ac |  reg_date  |
+---------+--------+-----------+------------+
|    2    |  balA  |    aaaa   | 1000-01-02 |
|    2    |  balB  |    cccc   | 1000-02-02 |
+---------+--------+-----------+------------+
Format:
bal_ID voting_ac reg_date
balB cccc 1000-02-02
 * mysql+mysqlconnector://root:***@localhost/project1
0 rows affected.
 * mysql+mysqlconnector://root:***@localhost/project1
1 rows affected.
 * mysql+mysqlconnector://root:***@localhost/project1
1 rows affected.
Available Monitors:
 +--------+---------+-----------+---------------------+---------------------+
| mon_ID | folk_ID | voting_ac |       startDT       |        endDT        |
+--------+---------+-----------+---------------------+---------------------+
|   4    |    4    |    cccc   | 1000-02-02 00:00:00 | 1000-02-02 01:00:00 |
+--------+---------+-----------+---------------------+---------------------+
What is your monitor's monitor ID?4
What time do you wish to vote at?00:30:00
 * mysql+mysqlconnector://root:***@localhost/project1
1 rows affected.
 * mysql+mysqlconnector://root:***@localhost/project1
3 rows affected.
Answer Choices:
 +--------+---------+
| bal_ID |  answer |
+--------+---------+
|  balB  | ABSTAIN |
|  balB  |    NO   |
|  balB  |   YES   |
+--------+---------+
What is you Answer?YES
 * mysql+mysqlconnector://root:***@localhost/project1
1 rows affected.
Vote Cast
 * mysql+mysqlconnector://root:***@localhost/project1
1 rows affected.
 * mysql+mysqlconnector://root:***@localhost/project1
24 rows affected.
 * mysql+mysqlconnector://root:***@localhost/project1
1 rows affected.
+---------+--------+-----------+------------+-----------+--------+------------+
| folk_ID | bal_ID | voting_ac | vote_date  | vote_time | mon_ID | bal_answer |
+---------+--------+-----------+------------+-----------+--------+------------+
|    1    |  balA  |    aaaa   | 1000-01-01 |  0:00:01  |   4    |    YES     |
|    1    |  balB  |    aaaa   | 1000-02-02 |  0:00:01  |   5    |    YES     |
|    2    |  balA  |    aaaa   | 1000-01-02 |  0:00:01  |   4    |    YES     |
|    2    |  balB  |    cccc   | 1000-02-02 |  0:30:00  |   4    |    YES     |
|    3    |  balA  |    aaaa   | 1000-01-03 |  0:00:01  |   4    |    YES     |
|    3    |  balB  |    cccc   | 1000-02-02 |  0:00:01  |   5    |    YES     |
|    4    |  balA  |    aaaa   | 1000-01-04 |  0:00:01  |   4    |     NO     |
|    4    |  balB  |    cccc   | 1000-02-02 |  0:00:01  |   5    |     NO     |
|    5    |  balA  |    aaaa   | 1000-01-05 |  0:00:01  |   4    |     NO     |
|    5    |  balB  |    cccc   | 1000-02-02 |  0:00:01  |   5    |     NO     |
|    6    |  balA  |    aaaa   | 1000-01-06 |  0:00:01  |   4    |     NO     |
|    6    |  balB  |    cccc   | 1000-02-02 |  0:00:01  |   5    |     NO     |
|    7    |  balA  |    aaaa   | 1000-01-07 |  0:00:01  |   4    |  ABSTAIN   |
|    7    |  balB  |    cccc   | 1000-02-02 |  0:00:01  |   5    |  ABSTAIN   |
|    8    |  balA  |    cccc   | 1000-01-08 |  0:00:01  |   4    |  ABSTAIN   |
|    8    |  balB  |    eeee   | 1000-02-02 |  0:00:01  |   5    |  ABSTAIN   |
|    9    |  balC  |    cccc   | 1000-03-03 |  0:00:01  |   6    |    YES     |
|    10   |  balC  |    eeee   | 1000-03-03 |  0:00:01  |   6    |    YES     |
|    11   |  balC  |    eeee   | 1000-03-03 |  0:00:01  |   6    |    YES     |
|    12   |  balC  |    eeee   | 1000-03-03 |  0:00:01  |   6    |     NO     |
|    13   |  balC  |    eeee   | 1000-03-03 |  0:00:01  |   6    |     NO     |
|    14   |  balC  |    eeee   | 1000-03-03 |  0:00:01  |   6    |     NO     |
|    15   |  balC  |    eeee   | 1000-03-03 |  0:00:01  |   6    |  ABSTAIN   |
|    16   |  balC  |    eeee   | 1000-03-03 |  0:00:01  |   6    |    YES     |
+---------+--------+-----------+------------+-----------+--------+------------+
connection is closed

In [30]:
# Functions for Question 5
# SPECIAL NOTE: Database is setup to cascade deletions on deletion of folk

def checkStaff():
    ID = int(input("What is your staff ID?"))
    n = %sql SELECT * FROM Election_Staff WHERE folk_ID = :ID
    if len(n) != 0:
        return ID
    else:
        print("Staff does not exist")
        return False
    
def deleteFolk():
    staff_ID = checkStaff()
    if staff_ID:
        folk_ID = checkFolk()
        if folk_ID:
            %sql DELETE FROM Folk WHERE folk_ID = :folk_ID
            return True
    return False

In [31]:
# Test for Question 5
# Goal is to show that emails are also deleted on deletion of folk

# Sample Answers
# 1
# 19

import time

n = %sql SELECT * FROM Email WHERE folk_ID = '19'
print(n)
time.sleep(1)
deleteFolk()
n = %sql SELECT * FROM Email WHERE folk_ID = '19'
time.sleep(1)
print(n)

 * mysql+mysqlconnector://root:***@localhost/project1
1 rows affected.
+---------+-------------+
| folk_ID |  email_add  |
+---------+-------------+
|    19   | as@mail.com |
+---------+-------------+
What is your staff ID?1
 * mysql+mysqlconnector://root:***@localhost/project1
1 rows affected.
What is the folk's ID?19
 * mysql+mysqlconnector://root:***@localhost/project1
1 rows affected.
 * mysql+mysqlconnector://root:***@localhost/project1
1 rows affected.
 * mysql+mysqlconnector://root:***@localhost/project1
0 rows affected.
+---------+-----------+
| folk_ID | email_add |
+---------+-----------+
+---------+-----------+

In [32]:
%sql SELECT * FROM Folk

 * mysql+mysqlconnector://root:***@localhost/project1
18 rows affected.

[(1, 'a', 'a', 'aa', 1, 1, datetime.date(1000, 1, 1)),
 (2, 'a', 'b', 'ab', 2, 2, datetime.date(1000, 1, 2)),
 (3, 'a', 'c', 'ac', 3, 3, datetime.date(1000, 1, 3)),
 (4, 'a', 'd', 'ad', 4, 4, datetime.date(1000, 1, 4)),
 (5, 'a', 'e', 'ae', 5, 5, datetime.date(1000, 1, 5)),
 (6, 'a', 'f', 'af', 6, 6, datetime.date(1000, 1, 6)),
 (7, 'a', 'g', 'ag', 7, 7, datetime.date(1000, 1, 7)),
 (8, 'a', 'h', 'ah', 8, 8, datetime.date(1000, 1, 8)),
 (9, 'a', 'i', 'ai', 9, 9, datetime.date(1000, 1, 9)),
 (10, 'a', 'j', 'aj', 10, 10, datetime.date(1000, 1, 10)),
 (11, 'a', 'k', 'ak', 11, 11, datetime.date(1000, 1, 11)),
 (12, 'a', 'l', 'al', 12, 12, datetime.date(1000, 1, 12)),
 (13, 'a', 'm', 'am', 13, 13, datetime.date(1000, 1, 13)),
 (14, 'a', 'n', 'an', 14, 14, datetime.date(1000, 1, 14)),
 (15, 'a', 'o', 'ao', 15, 15, datetime.date(1000, 1, 15)),
 (16, 'a', 'p', 'ap', 16, 16, datetime.date(1000, 1, 16)),
 (17, 'a', 'q', 'aq', 17, 17, datetime.date(1000, 1, 17)),
 (18, 'a', 'r', 'ar', 18, 18, datetime.date(1000, 1, 18))]